.mapBike {
  height: calc(100vh - 79px);
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 91px);
  }
}
.map-marker.Rentstation {
  background-image: url('~@/assets/img/Union.png');
  background-position:center;
  background-size: cover;
  padding-top: 6px;
  font-size: 15px;
  font-weight: 900;
  width: 36px;
  height: 50px;
  text-align: center;
  top: -45px;
  left: -10px;
  position: absolute;
}
.map-marker.Returnstation {
  background-image: url('~@/assets/img/Union2.png');
  background-position:center;
  background-size: cover;
  padding-top: 6px;
  font-size: 15px;
  font-weight: 900;
  width: 36px;
  height: 50px;
  color: #fff;
  text-align: center;
  top: -45px;
  left: -10px;
  position: absolute;
}
.leaflet-div-icon {
  background-color: transparent;
  border: none;
}
.positionIcon {
  display: flex;
  bottom: 10%;
  right: 5%;
  z-index: 1000;
  width: 62px;
  height: 62px;
  @include media-breakpoint-up(md) {
    bottom: 5%;
    right:5%;
    width: 80px;
    height: 80px;
  }
}